/* CSS Document */
body
{
    margin:0px;
   background-color:#736F6E;
 	hieght:100%;
}

A:link	
{
	text-decoration:none;	
}
A:visited 
{
	text-decoration:none;
	
	color:#FFF;
}
A:hover 
{
	text-decoration: none;
	color:#39F;
	
}
header
{
	
    width:100%;
    height:90px;
    background-color:#C0C0C0;
    position:relative;
}
#logo
{	
 width:220px;
 height:80px;
 position:absolute;
 left:50px; 
 top:5px;

}

header h1
{
    color:white;
    display:inline;
    top:10px;
    left:5px;
    position:relative;
}
header img
{
    vertical-align:middle;
    width:80px;
    height:80px;
    
}
#user_container
{

 width:auto;
 position:fixed;
 top:0px;
 right:10px; 
 color:White;      
}
.user
{
    padding-right:5px;
    padding-left:5px;
    border-right: 1px solid;
}
#navigation
{
width:100%;
height:30px;
background-color:#C0C0C0;
position:absolute;
top:85px;

}

#navigation ul.tabs {
		margin: 0;
		padding: 0;
		float: left;
		list-style: none;
		height: 32px;
		border-bottom: 1px solid #999999;
		
		width: 60%;
		margin-left:340px;
		
	}
#navigation ul.tabs li {
		float: left;
		margin: 0;
		
		padding: 0px 21px ;
		height: 31px;
		line-height: 31px;
		border: 1px solid #999999;
		border-left: none;
		font-weight: bold;
		background:#6699CC;
		overflow: hidden;
		position: relative;
		
		border-top-left-radius:10px;
	border-top-right-radius:10px;
		
		
		
	}
#navigation ul.tabs li:hover {
		background: #CCCCCC;
	}	
#navigation ul.tabs li.active{
		background: #E9E9E9;
		border-bottom: 1px solid #FFFFFF;
	}
	
	
.main_content 
{
background-color:#E9E9E9;
position:fixed;
top:115px;
bottom:0px;
left:0px;
right:0px;
width:100%;
height:100%;
}
	
	.tab_container 
	{
		border-top: none;
		height:100%;
		width: 100%;
		background: #FFFFFF;
		position:fixed;
		left:0px;
		right:0px;	
	}
	
	.tab_content 
	{
		top:25px;
		position:relative;		
		display: none;
			
	}
 

.forms
{
	position:absolute;
	width:400px;
	height:250px;
	top:50px;
	left:50px;
	
	border:0.1em solid;
	border-radius: 10px;
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #537D8F 500%);
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #537D8F 500%);
	box-shadow:  8px 10px 5px #999999;
	
	
	
}
.forms h2
{
	text-align:center;
	color:#999;
	font:"Courier New", Courier, monospace;
}
 .form_input
{
    
    padding:10px;
    display:block;   
}
footer
{
height:35px;
position:fixed;
bottom:0px;
width:100%;
background-color:#C0C0C0;
}
#left_sidebar
{
position:absolute;
left:0px;
height:100%;
width:20%;
top:30px;

background-color:#E9E9E9;
}
#welcome_box
{
	position:relative;
	width:250px;
	height:150px;
	top:10px;
	left:10px;
		border:0.1em solid #CCC;
	
	border-radius: 10px;
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #537D8F 500%);
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #537D8F 500%);
	
}
.title
{
	width:100%;
	display:inline-block;
	height:30px;
	background-color:#CCCCCC;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	color:#FFF;
	text-align:center;
	font-size: 20px;
	font-weight:bold;	
}
.cat_title
{
	width:100%;
	display:inline-block;
	height:30px;
	background-color:#CCCCCC;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	color:#FFF;
	text-align:center;
	font-size: 20px;
	font-weight:bold;	
}
#rec_list
{
	width:100%;
	display:inline-block;
	height:25px;
	background-color:#6D7B8D;
	color:#FFF;
	text-align:center;
	font-size: 18px;
	font-weight:bold;	
}
#rec_title
{
	width:100%;
	display:inline-block;
	height:25px;
	background-color:#6D7B8D;
	color:#FFF;
	text-align:center;
	font-size: 18px;
	font-weight:bold;	
}
#control_panel
{
position:absolute;
width:700px;
height:80%;
background-color:#CCCCFF;
border-top-left-radius:10px;
border-top-right-radius:10px;
left:22%;
top:10px;

}
#info_sidebar
{
	width:20%;
	height:100%;
	position:absolute;
	top:0px;
	right:0px;
	border: 1px solid;
	
}

.panel_cell
{

background-color:#FFF;
zoom: 1;
width:auto;
height:auto;
border:0.1em solid #CCC;
display:inline-block;
margin:0px;
}


#prefs
{
position:absolute;
left:20px;
top:40px;
}
#summary_details
{
position:relative;
left:20px;
border: 1px solid;
}

.item
{
padding:10px;
display:inline-block;
text-align:center;
font-size:14px;

}

.cell_header
{
width:100%;
display:block;
height:25px;
	background-color:#DCDCD8;
	color:#000;
	text-align:center;
	font-size: 16px;
	font-weight:bold;
}
#receipe_viewer
{
	position:absolute;
	left:215px;
	top:0px;
	width:100%;
	height:100%;
	background-color:#F6EEDD;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	overflow:auto;
	overflow-style:marquee-block;
	
	
}
#control_widget
{
	position:fixed;	
	width:400px;
	height:50px;
	left:380px;
    bottom:35px;
	background-color:#999;
	border: 1px solid #CCC;	
}
.receipe_select
{
   width: 210px;
   top:0px;
   position:relative;
   font-size: 14px; 
   height:100%;	
   border-right: 1px  solid #CCCCCC;
   overflow-y:scroll;
   overflow-x:hidden;
   overflow:scroll;   
	
}
.rec_label
{


	padding-bottom:5px;
	display:block;
	
	
}


.info
{
	padding:10px;
	width:170px;
	display:inline-block;
	height:20px;
	left:0px;
	text-align:left;
	font-size: 16px;
	font-weight:bold;
}
#receipe
{
	width:500px;
	height:100px;	
	
	padding:10px;
}
#rec_other
{
width:320px;
height:100%;
position:absolute;
top:30px;
right:0px;
padding:10px;
	
}
.rec_img
{
width:280px;
height:180px;	
	
	
	
}
#category_list
{
   width: 270px;
   top:25px;
   position:relative;
   font-size: 14px; 
   height:100%;	
   border-right:1px solid #CCC;
	
}
#ing_panel
{
 width: 270px;
   top:25px;
   right:0px;
   position:absolute;
   font-size: 14px; 
   height:120px;	
   border-left:1px solid #CCC;
	border-bottom:1px solid #CCC;
}
#ingred_viewer
{
	position:absolute;
	left:330px;
	top:30px;
	width:700px;
	height:100%;
	background-color:#FFF;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	
}

#page_summary
{

	width:500px;
	height:100px;	
	padding:5px;	
}

#measure_sidebar
{
width:420px;
height: 100%;
top: 120px;
position: absolute;
border-right:1px solid #CCC;
border-top-right-radius:10px;

}
table.measure_table
{
    
    font-size: 16px;
    font-weight: bold;
    line-height: 0.9em;
    font-style: normal;
    border-collapse:separate;
    padding:20px;
}
.measure_table thead th
{
padding:10px;
border-top-left-radius:5px;
border-top-right-radius:5px;
background-color:#6D7B8D;
color: #CCC;
}


.measure_table tbody td
{
    padding:10px;
    text-align:center;
    background-color:#FFF;
    border-radius:2px;
    color:#666;
    text-shadow:1px 1px 1px #fff;
}
#oven_column
{
width:220px;
height: 100%;
top: 120px;
left: 450px;
position: absolute;
border-left:1px solid #CCC;
border-right:1px solid #CCC;
border-top-right-radius:10px;
border-top-left-radius:10px;
}
#hygiene_sidebar
{
   width: 300px;
   top:35px;
   right:0px;
   position:absolute;
   font-size: 14px; 
   height:100%;	
   border-left:1px solid #CCC;
	
}


#boards
{
width: 100%;
height: 310px;	
position:relative;                    
top:30px;
background-color:#808080;
padding-top:10px;

}
.code
{	
width:100%;	
display:inline-block;	
height:30px;
text-align:center;
font-size: 20px;
font-weight:bold;
padding: 10px;
}
#edit_pass
{
	background: #DCDCD8;
	position:absolute;
	left:40px;
	top: 162px;
	height: 160px;
	width:270px;
	display: none;
}

.sett
{
padding:10px;
	
	
}
#cat_options select
{   
   width: 150px;
   top:0px;
   position:relative;
   font-size: 14px;
   height:100%;	
}
#i_list
{
		width: 700px;
	
}
#ing_detail
{
	width:270px;
	height:400px;
	position:absolute;
	left:150px;
	padding:20px;
	font-size:18px;
	
}
table.receipe_list
{
 background-color:#F6EEDD;
 border-collapse:collapse;
 width:199px;
}
table.receipe_list tr
{
	border-bottom: 1px inset #CCC;
	height:60px;
	font-size:16px;	
}
.receipe_list td
{
 padding:5px;		
}

.rec_row
{
	
	color:#999;
	font-size:14px;
	
}
.rec_check
{
	width:30px;
	
}

#receipe_details
{
	
	border-collapse: collapse;
	width:auto;	
}
#receipe_details td
{	
	width:100px;	
}
#receipe_details td.detail_title
{
	font-size:18px;
	font-weight: bold;
	padding:5px;
	
}
#receipe_details td.data
{
	font-size:16px;
	text-align:center;
	padding:5px;
	 
	
}
#receipe_details td.dr
{
	font-size:16px;
	text-align:left;
	padding:5px;
	width:100px;
}

#ingred_display
{
	width: 700px;
	border:1px solid #CCC;
	border-collapse:collapse;
		
}
#ingred_display thead 
{
	background-color:#C96;	
}

#ingred_display thead td
{
	text-align:center;	
	font-size:18px;
	font:"Arial Black", sans-serif;
}
#ingred_display tbody td
{
	background-color:#9C9;
}
#ingred_display tbody td
{
	text-align:center;
	border: 1px solid  #999;
}
#r_data 
{
border-collapse:collapse;
width:220px;

	
}

#r_data thead td
{
	padding:10px;	
	
}
#r_data tbody td
{
	padding:10px;
	border: 1px solid #CCC;
	
	
}
#left_content
{
	height:500px
	width:400px;
	left:10px;
	position:absolute;
	top:140px;

	
}
#right_content
{
	height:100%;
	width:400px;
	left:240px;
	position:absolute;
	top:0px;

	
}
#right_data
{
	position:absolute;
	left:0px;
	border-collapse:collapse;
	top:65px;

	
}
#right_data thead td
{
	padding:10px;
}

#breadcrumb
{
	height:20px;
	width:100%;
	background-color:#E9E9E9;
	position:absolute;
	top:0px;
	border-bottom:1px solid #CCC;
	color: #FFF;
	
}

#crumb_list
{
	display:inline;
	list-style: none;
	left:340px;
	position:relative;	
}
#crumb_list li
{
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
	width:80px;
	height:20px;
	border-right: 1px solid #666;
	background-color:#999;
	
}

#search_sidebar
{
   width: 240px;
   top:0px;
   position:absolute;
   height:100%;	
   right:0px;
 
   background-color:#FFF;
}
#search_box
{
	width:100%;
	height:60px;
	position:relative;	
	border-bottom:0.1em solid #CCC;
	padding:10px;
	background-color:#E7EDF8;
}

#search_results
{
	width:100%;
	height:100%;
	position:relative;	
	top:10px;
	background-color:#E7EDF8;
	border-left:1px solid #CCC;
	border-top-left-radius:10px;
}
